html,
body {
    font-family: "Baloo Da 2", cursive;
}

.user-menu img {
    width: 35px;
    height: 35px;
}

.article-img-icon {
    width: 30px;
    height: 30px;
    margin-left: 3px;
}

.error {
    color: #ff0000;
}

.font-size-up-2 {
    font-size: 2em;
}

.like {
    padding: 0px;
    margin-right: 7px;
    color: green;
    font-size: 1.2em;
}